* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* header section styles started */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.herader-contents {
    display: flex
}

.header-title {
    padding-top: 80px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-left: 150px;
}

.header-detais {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
    margin-top: 20px;
}

.header-button {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 8px;
    background: #E55473;
    margin-left: 150px;
    margin-top: 20px;
    border-style: none;
    margin-bottom: 80px;
}

.header-flower img{
    width: 380px;
    height:440px;
    margin-left: 330px;

}
/* header section styles ended */
/* features section styles started */
.features {
    margin-top: 90px;
    background-color: #FFF;
}

.feature-1 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.feature-2 {
    display: flex;
    margin-top: 20px;
}

.feature-2 li {
    list-style: none;
}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.feature-details {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

/* feature one picture */

.featurepic1 {
    width: 380px;
    height: 460px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-left: 100px;
}

.featurepic1 img {
    padding-left: 30px;
    padding-top: 32px;
}

.featurepic1 p {
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 20px;

}

/* feature two picture */

.featurepic2 {
    width: 380px;
    height: 460px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-left: 10px;
}

.featurepic2 img {
    padding-left: 20px;
    padding-top: 20px;
}

.featurepic2 p {
    padding-left: 130px;
    padding-top: 80px;
}

/* feature picture three */

.featurepic3 {
    width: 380px;
        height: 460px;
        border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin-left: 10px;
}

.featurepic3 img {
    padding-left: 40px;
   height: 460px;
}

.featurepic3 p {
    margin-left: 120px;
    margin-top: 10px;
}

/* features section styles ended */
/* support section styles started */
.support {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    margin-top: 80px;
    height: 180px;
    width: 1170px;
    margin-left: 95px;
}

.delivery {
    margin-left: 10px;
    margin-right: 20px;
}

.delivery img {
    width: 88px;
    height: 88px;
    padding-top: 40px;
    padding-left: 100px;
    margin-left: 100px;
}

.delivery p {
    padding-left: 120px;
}

.freshflower {
    margin-right: 20px;
    margin-left: 50px;
}

.freshflower img {
    width: 88px;
    height: 88px;
    padding-top: 40px;
    padding-left: 100px;
}
.freshflower p{
    padding-left: 30px;
}





.anytime{
    margin-left: 30px;
}
.anytime img {
    width: 88px;
    height: 88px;
    padding-top: 40px;
    padding-left: 100px;
    
}
.anytime p{
    padding-left: 80px;
}

/* support section styles ended */